/*
YUI 3.18.1 (build f7e7bcb)
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/

html {
    color: #000;
    background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

q:before,
q:after {
    content: ''
}

abbr,
acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}

legend {
    color: #000
}

#yui3-css-stamp.cssreset {
    display: none
}


/*YUI RESET CSS*/


/*iconfont*/

@font-face {
    font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_yvdfmipcmnm6lxr.eot?t=1496825798940');
    /* IE9*/
    src: url('//at.alicdn.com/t/font_yvdfmipcmnm6lxr.eot?t=1496825798940#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_yvdfmipcmnm6lxr.woff?t=1496825798940') format('woff'), /* chrome, firefox */
    url('//at.alicdn.com/t/font_yvdfmipcmnm6lxr.ttf?t=1496825798940') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_yvdfmipcmnm6lxr.svg?t=1496825798940#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao:before {
    content: "\e602";
}

.icon-shezhi:before {
    content: "\e61a";
}

.icon-yaochinc:before {
    content: "\e601";
}

.icon-dashboard:before {
    content: "\e780";
}

.icon-iconfontboxno:before {
    content: "\e60d";
}

.icon-questioncircle:before {
    content: "\e67e";
}

.icon-tongzhi-copy:before {
    content: "\e600";
}

.icon-fenlei:before {
    content: "\e66b";
}

.icon-sort-small-copy-copy:before {
    content: "\e605";
}

.icon-zhibiaoyuce:before {
    content: "\e640";
}

.icon-jianhao:before {
    content: "\e641";
}

.icon-sort-down-copy:before {
    content: "\e604";
}

.icon-sort-small-copy-copy1:before {
    content: "\e678";
}

.icon-tubiao:before {
    content: "\e631";
}


/*iconfont*/

html,
body {
    height: 100%;
}

body {
    color: #797979;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

#app {
    min-height: 100%;
    background: #f1f2f7;
}


/*顶部／左侧导航条*/

.top_nav_bar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    padding: 0 15px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #f1f2f7;
    z-index: 10;
}

.catalog,
.web_title {
    display: inline-block;
    line-height: 60px;
    cursor: pointer;
}

.icon-fenlei {
    font-size: 20px;
}

.web_title {
    font-size: 21px;
    color: #2e2e2e;
    margin-left: 15px;
    text-decoration: none;
}

.title_end {
    color: #FF6C60;
}


/*右侧个人信息*/

.drop_down {
    position: relative;
    float: right;
    margin-top: 7px;
}

.drop_down_toggle {
    padding: 6px;
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #f0f0f8;
    cursor: pointer;
}

.user_image {
    width: 29px;
    height: 29px;
    vertical-align: middle;
}

.user_name {
    font-size: 13px;
    color: #555555;
    margin: 0 8px;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid #A4AABA;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.drop_down_toggle:hover .triangle {
    border-top-color: #000000;
}

.drop_down_menus {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 268px;
    padding: 0;
    margin: 2px 0 0;
    font-size: 14px;
    background-color: #ffffff;
    z-index: 99;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
    border-radius: 4px;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
    pointer-events: none;
}

.drop_down_menus:after {
    content: '';
    position: absolute;
    top: -10px;
    right: 20px;
    width: 20px;
    height: 11px;
    background: url('//activity-codoon.b0.upaiyun.com/cdmall62764915994938..name') no-repeat;
    /*border-left: 10px solid transparent;*/
    /*border-right:10px solid transparent;*/
    /*border-bottom: 10px solid #FFFFFF;*/
}

.drop_down_menus.show {
    opacity: 1;
    pointer-events: auto;
}

.drop_down_menu {
    float: left;
    text-align: center;
}

.drop_down_menu:not(:last-child) {
    width: 33.3%;
}

.drop_down_menu:last-child {
    width: 100%;
    background: #a9d96c;
    border-radius: 0 0 3px 3px;
}

.drop_down_menu a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 13px 0;
    color: #a4abbb;
    font-size: 12px;
    font-weight: 400;
}

.log_out a {
    color: #FFFFFF;
}

.drop_down_menu .iconfont {
    font-size: 17px;
}

.drop_down_menu:hover .iconfont {
    color: #50c8ea;
}

.log_out:hover .iconfont {
    color: #FFFFFF;
}


/*左侧导航条*/

.left_nav_bar {
    position: fixed;
    left: 0;
    top: 0px;
    width: 210px;
    height: 100%;
    background-color: #2a3542;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.left_nav_bar.hide {
    margin-left: -210px;
}


/*一级菜单*/

.menus {
    margin-top: 75px;
}

.menu {
    margin: 0 10px 5px 10px;
}

.menu>a {
    text-decoration: none;
    display: block;
    font-size: 12px;
    color: #aeb2b7;
    padding: 15px 0 15px 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu>a:hover,
.menu .active {
    background-color: #35404d;
    color: #FFFFFF;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu a i {
    font-size: 15px;
    padding-right: 10px;
    /*vertical-align: middle;*/
}

.menu .extend-icon {
    float: right;
}


/*二级菜单*/

.sub-menus {
    height: 0;
    overflow: hidden;
    margin: -2px 0 0;
    background: #35404d;
    border-radius: 0 0 4px 4px;
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -ms-transition: all 5s ease;
    -o-transition: all 5s ease;
    transition: all 5s ease;
}

.sub-menu {
    padding-left: 32px;
}

.sub-menus a {
    text-decoration: none;
    display: block;
    height: 23px;
    line-height: 23px;
    padding: 6px 0;
    font-size: 12px;
    color: #aeb2b7;
}

.sub-menus.show {
    height: auto;
}

.menu .active .menu-icon,
.sub-menus a:hover,
.sub-menus a.sub-active {
    color: #FF6C60;
}


/*右侧菜单内容展示区域*/

.content_container {
    margin-left: 210px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.content_container.show_all {
    margin-left: 0;
}

.page_content {
    padding: 75px 15px 15px;
}

.search_area,
.content_area {
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 3px;
}

.form_area {
    padding: 10px 0;
    text-align: right;
}

.form_area input {
    margin-bottom: 5px;
}

.form_area input:not(:last-child) {
    margin-right: 8px;
    width: 150px;
}

.table_name {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 15px;
    border-bottom: 1px solid #eff2f7;
}

.table_name .icon-questioncircle {
    margin-left: 5px;
    font-size: 12px;
    position: relative;
    top: -2px;
}

.tip {
    display: inline-block;
}

.info_tip {
    z-index: 99;
    position: absolute;
    left: 15px;
    top: 38px;
    padding: 5px;
    max-width: 500px;
    font-size: 11px;
    font-weight: normal;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    transition: all 0.5s;
    opacity: 0;
    pointer-events: none;
}

.info_tip::after {
    content: "";
    position: absolute;
    left: 134px;
    top: -5px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.8);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.tip:hover .info_tip {
    opacity: 1;
    pointer-events: auto;
}

.table_area {
    padding: 15px;
}

.table_area .no_results {
    text-align: center;
    margin-top: 15px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead th {
    font-weight: bold;
    position: relative;
}

thead th[data-tag] {
    cursor: pointer;
}

thead .td_5 {
    width: 5%;
}

thead .td_7 {
    width: 7%;
}

thead .td_16 {
    width: 16%;
}

thead th,
tbody td {
    width: 8%;
    padding: 5px;
    line-height: 1.42857143;
    border: 1px solid #dddddd;
    word-wrap: break-word;
}

tbody td.overindex {
    color: #ff6c60;
    font-weight: bold;
}

thead .iconfont {
    position: absolute;
    right: 0;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

thead .icon-sort-small-copy-copy1,
thead .icon-sort-small-copy-copy {
    color: #333333;
}

thead .icon-sort-down-copy {
    color: #cdcdcd;
}

tbody tr:nth-child(odd),
tbody tr:hover {
    background-color: #f9f9f9;
}

td .btn_view {
    border: none;
    outline: none;
    padding: 6px 10px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #78CD51;
    cursor: pointer;
}

td .icon-tubiao {
    font-size: 20px;
    font-weight: bold;
    color: #78CD51;
    cursor: pointer;
}


/*input基本样式*/

.base-unit {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 34px;
    padding: 0 8px;
    font-size: 14px;
    color: #777;
    ;
    line-height: 1.42857143;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #e2e2e4;
    outline: none;
}

.pages {
    padding: 15px 0;
}

.pages ul {
    text-align: right;
}

.pages li {
    display: inline-block;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    margin: 0 1px;
}

.pages .ellipsis {
    border: none;
    padding: 0 5px;
}

.pages span {
    display: block;
    padding: 5px 10px;
    color: rgb(121, 121, 121);
    cursor: pointer;
}

.pages .disabled span {
    color: #c7c7c7;
    cursor: not-allowed;
}

.pages .active span {
    color: #797979;
    background: #eee;
}


/*弹窗显示图表*/

.chart_mask {
    display: none;
    z-index: 11;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

.chart_mask_show {
    display: block;
}

.chart {
    z-index: 11;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 700px;
    height: 500px;
    background: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.chart_show {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.chart .chart_title {
    padding: 15px;
    background: #00a8b3;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.42857143;
}

.chart .btn_close {
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    cursor: pointer;
}

.chart .btn_close:hover {
    opacity: 0.8;
}

.chart .time-picker {
    padding: 15px;
    overflow: hidden;
}

.chart .data_unit {
    float: right;
    line-height: 34px;
}

.chart .chart_type {
    padding: 0 15px;
    text-align: center;
}

.recharts-wrapper {
    margin: 0 auto;
}


/*单个性能指标页面，表格样式*/


/*.index_info thead th {
    border: none;
    border-bottom: 2px solid #ddd;
}

.index_info tbody td {
    border: none;
    border-top: 1px solid #ddd;
}

thead th,
tbody td {
    width: 10%;
}*/

.index_info {
    text-align: left;
}

thead .td_15 {
    width: 15%;
}

thead .td_20 {
    width: 20%;
}

thead .td_25 {
    width: 25%;
}

.parts {
    overflow: hidden;
}

.parts .section_one {
    float: left;
    width: 500px;
    margin-right: 15px;
}

.parts .section_two {
    overflow: hidden;
}

@media (max-width:1279px) {
    .parts .section_one {
        float: left;
        width: 100%;
        margin-right: 0px;
    }
    .parts .section_two {
        overflow: hidden;
        width: 100%;
    }
}

@media (min-width:1330px) {
    .parts .section_one {
        float: left;
        width: 50%
    }
}